@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.top {
  flex: 0;
  border-bottom: solid 1px var(--adm-border-color);
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.bottom {
  flex: 0;
  border-top: solid 1px var(--adm-border-color);
}

body {
  font-family: 'Noto Sans KR';
}

.headerTitle {
  font-family: 'Jua', sans-serif;
  font-size: 22px;
}