@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Dark Mode */
.darkmode--activated #main {
    color: white !important;
}
.darkmode--activated #main div {
    border-color: white;
}
.darkmode--activated #main .mbti-user a {
    color: white !important;
}
.darkmode-layer {
    background: #212529 !important;
    mix-blend-mode: unset !important;
    z-index: -10;
}
.darkmode-background {
    background: white;
    position: fixed;
    pointer-events: none;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Basic Design */
::-webkit-scrollbar {
    display: none;
}

/* Home CSS */
.headerWrapper {
  margin: 20px 0; display: flex; justify-content: center;
}
.headerTitle {
  font-size: 24px; display: flex; align-items: center;
}
.headerTitleBtn {
  margin-left: 5px; font-size: 14px; color: lightgrey;
}


/* Before CSS */
.totalWrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    background-color: white;
    -ms-overflow-style: none;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-height: 500px;
}
.mbtiWrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.mbti {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
    max-height: 130px;
    overflow: auto;
    justify-content: flex-start;
    margin: 2px;
    align-items: center;
    flex-direction: column;
}
.mbtiTitle {
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mbtiTitle span {
    font-size: 12px;
    padding: 3px;
}
.mbtiUser {
    font-size: 14px;
}
.mbtiUser a {
    text-decoration: none;
    color: black;
}
.footer {
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 12px;
}
.footer p {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.noto {
    font-family: 'Noto Sans KR', sans-serif !important;
}
.jua {
    font-family: 'Jua', sans-serif !important;
}
.swal2-title {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 500;
}
.homeLogo {
    width: '26px' !important;
    margin: '1px' !important;
    border-radius: '24px' !important;
}
.logo {
    box-shadow: 2px 2px 4px #ccc;
}
@media(max-width: 400px) {
    .mbti {
        max-height: 115px !important;
    }
    .mbtiUser {
        font-size: 12px !important;
    }
}
@media(max-width: 340px) {
    .mbti {
        max-height: 100px !important;
    }
    .mbtiUser {
        font-size: 10px !important;
    }
}
