.videoContainer {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
  width: 100%;
	height: 0;
	overflow: hidden;
}
 
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.body {
  overflow: auto;
}
.mainBody {
  width: 100%;
	max-width: 1200px;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  overflow: auto !important;
  justify-content: flex-start !important;
}